



<% user_id = session.fetch(:user_info_id)%>

<% matching_user = UserInfo.where({ :id => user_id})%>

<%the_user = matching_user.at(0).username%>


<h1>Welcome, <%= the_user %>! </h1>


<h3> Here are a few of the stores you've been shopping at: </h3>



<% variable_store_ids = matching_user.at(0).stores.ids.uniq %>

<% Store.where({ :id=> variable_store_ids}).each do |store|%>






<p><a href ="/stores/<%=store.id%>"> <%= store.name%> </a></P>

<%end%>
<%#  store_id = item_info.at(0).store_id%>

<%# Store.where({:id=> store_id}).at(0).name%>



    
    <%# @list_of_saved_items.each do |saved_item|%>
        <%#the_item_id = saved_item.item_id%>
        <%#an_item = Item.where({:id => the_item_id}).at(0)%> 

<div><button><a href="/users/<%=user_id%>"> Add a new item! </a></button></div>